.search {
    background-color: var(--slate-700);
    padding: 2rem;
    display: flex;
    flex-direction: column;
    border-radius: 1rem;
    justify-content: center;
    text-align: center;
    gap: 1rem;
    margin-bottom: 1rem;
}

.search p {
    color: var(--slate-300);    
}

.search_container {
    display: flex;
    gap: 0.5rem;
    justify-content: center;
    text-align: center;
}

.search_container input,
.search_container button {
    padding: 0.6rem;
    border-radius: 6px;
    border: none;
    color: var(--slate-800);
    font-size: 14px;
}

.search_container button {
    color: var(--slate-700);
    background-color: var(--sky-500) ;
    font-size: 14px;
    cursor: pointer;
    transition: 0.3s;
}

.search_container button:hover {
    background-color: var(--sky-700);
    color: white;
}